@model IEnumerable<AssetManagementWebApp.Models.Asset>
@{
    ViewData["Title"] = "Applications";
    ViewBag.CurrentPage = "Application";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/dirPagination.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/applicationsController.js"></script>
    <script src="~/js/graphingController.js"></script>
    <script src="~/lib/Flot/jquery.flot.js"></script>
    @*<script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.canvas.js"></script>*@
    <script src="~/lib/angular-flot/angular-flot.min.js"></script>
}
@*@section Styles {
    
}*@
<div class="row" ng-app="app" ng-cloak>
    <div class="col-lg-12" ng-controller="dataController">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>This is where the add form will appear.</p>
            </div>
        </div>
    </div>
</div>