@model IEnumerable<AssetManagementWebApp.Models.Asset>
@{
    ViewData["Title"] = "Applications";
    ViewBag.CurrentPage = "Application";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/dirPagination.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/applicationsController.js"></script>
    <script src="~/js/graphingController.js"></script>
    <script src="~/lib/Flot/jquery.flot.js"></script>
    @*<script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.canvas.js"></script>*@
    <script src="~/lib/angular-flot/angular-flot.min.js"></script>
}
@*@section Styles {
    
}*@
<div class="row" ng-app="app" ng-cloak>
    <div class="container">
        <div ng-controller="dataController">
            <div class="row">
                <div ng-controller="dataController" class="col-xs-6">
                    <label for="search">Search:</label>
                    <input ng-model="assetFilter" id="search" class="form-control" placeholder="Search for an application...">
                </div>
                <div class="col-xs-6">
                    <a asp-controller="Application" asp-action="Index" class="btn btn-sm btn-success pull-right"><i class="fa fa-plus-circle"></i> Add Application</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div ng-show="isBusy" class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i><p>Loading...</p></div>
                            <table class="table table-responsive table-striped">
                                <!--<tr ng-repeat="asset in vm.assets">-->
                                <thead>
                                    <tr>
                                        <th></th> <!--Glyph-->
                                        <th>Name</th>
                                        <th>Description</th>
                                        @*<th>Asset Type</th>*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="asset in assets | filter:assetFilter | itemsPerPage: pageSize" current-page="currentPage">
                                        <td><i class="fa fa-window-maximize fa-2x"></i></td>
                                        <td>{{ asset.name }}</td>
                                        <td>{{ asset.description }}</td>
                                        @*<td>{{ asset.assetType.description }}</td>*@
                                        @*<td>{{ asset.created | date:'MM-dd-yyyy'}}</td>*@
                                        <td><a href="#" class="btn btn-sm btn-primary">Edit</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="paginationController">
            <div class="col-lg-12 pagination-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./tpl/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>
</div>