@model IEnumerable<AssetManagementWebApp.Models.Asset>
@{
    ViewData["Title"] = "Databases";
    ViewBag.CurrentPage = "Database";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/dirPagination.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/databasesController.js"></script>
    <script src="~/js/graphingController.js"></script>
    <script src="~/lib/Flot/jquery.flot.js"></script>
    @*<script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.canvas.js"></script>*@
    <script src="~/lib/angular-flot/angular-flot.min.js"></script>

    <script type="text/javascript">
        var assetId = "";

        $("#deleteModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            assetId = button.data('assetid'); // Extract info from data-* attributes
            var assetName = button.data('assetname');
            var assetType = button.data('assettype');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find(".modal-body").text("Are you sure you wish to delete the " + assetType + " named '" + assetName + "'?");
        });

        $(document).ready(function () {
            $(function () {
                $('#deleteAssetButton').click(function () {
                    $.ajax({
                        url: '/Databases/Delete' + '?' + $.param({ "Id": assetId }),
                        type: 'DELETE',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
            });
        });
    </script>
}
@*@section Styles {
    
}*@
<div class="row" ng-app="app" ng-cloak>
    <div ng-controller="dataController">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Search</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search fa"></i></span>
                                <input ng-model="assetFilter" id="search" class="form-control" placeholder="Search for a database...">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a asp-controller="Database" asp-action="Add" class="btn btn-sm btn-success pull-right"><i class="fa fa-plus-circle"></i> Add Database</a>
                        </div>
                    </div>
                    <br />
                    <div ng-show="isBusy" class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i><p>Loading...</p></div>
                    <table class="table table-responsive table-striped">
                        <!--<tr ng-repeat="asset in vm.assets">-->
                        <thead>
                            <tr>
                                <th></th> <!--Glyph-->
                                <th>Name</th>
                                <th>Description</th>
                                @*<th>Asset Type</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="asset in assets | filter:assetFilter | itemsPerPage: pageSize" current-page="currentPage">
                                <td><i class="fa {{ asset.assetType.faGlyph }} fa-2x"></i></td>
                                <td>{{ asset.name }}</td>
                                <td>{{ asset.description }}</td>
                                @*<td>{{ asset.assetType.description }}</td>*@
                                @*<td>{{ asset.created | date:'MM-dd-yyyy'}}</td>*@
                                <td>
                                    <a href="@ViewData["Title"]/Edit?assetId={{asset.id}}" class="btn btn-sm btn-primary">Edit</a>
                                    <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal" data-assetid="{{asset.id}}" data-assetname="{{asset.name}}" data-assettype="{{asset.assetType.description}}"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="paginationController">
        <div class="col-lg-12 pagination-controller">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./tpl/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, get me out of here!</button>
                <button type="button" class="btn btn-danger" id="deleteAssetButton">Yes, delete it!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->